<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Cloudcart_ConfigurableSimpleProductsRelation>
            <version>0.1.0</version>
        </Cloudcart_ConfigurableSimpleProductsRelation>
    </modules>
    <global>
        <helpers>
            <configurablesimpleproductsrelation>
                <class>Cloudcart_ConfigurableSimpleProductsRelation_Helper</class>
            </configurablesimpleproductsrelation>
        </helpers>
        <models>
            <configurablesimpleproductsrelation>
                <class>Cloudcart_ConfigurableSimpleProductsRelation_Model</class>
                <resourceModel>configurablesimpleproductsrelation_mysql4</resourceModel>
            </configurablesimpleproductsrelation>
        </models>
    </global>
</config>